doctype html
html
  head
    block head
      title Moon Wallet
      meta(charset='UTF-8')
      meta(http-equiv='X-UA-Compatible', content='IE=edge')
      meta(name='description' content="MOON Wallet - easy to use & user-friendly crypto wallet")
      meta(name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=no')
        
      meta(property="og:title" content="MOON Wallet")
      meta(property="og:type" content="article")
      meta(property="og:url" content="https://moonwallet.tech")
      meta(property="og:image" content="https://s3.amazonaws.com/secrettech/moon-assets/facebook.png")
      meta(property="og:description" content="Easy to use & user-friendly crypto wallet")
      meta(property="og:site_name" content="MOON Wallet")
        
      meta(name="twitter:card" content="summary_large_image")
      meta(name="twitter:site" content="")
      meta(name="twitter:title" content="MOON Wallet")
      meta(name="twitter:description" content="Easy to use & user-friendly crypto wallet")
      meta(name="twitter:creator" content="")
      meta(name="twitter:image" content="https://s3.amazonaws.com/secrettech/moon-assets/twitter.png")
      meta(name="twitter:image:alt" content="MOON Wallet")
        
      meta(itemprop="name" content="MOON Wallet")
      meta(itemprop="description" content="Easy to use & user-friendly crypto wallet")
      meta(itemprop="image" content="https://s3.amazonaws.com/secrettech/moon-assets/facebook.png")
      
      link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:300|Roboto+Mono|Roboto:300")
      link(rel="stylesheet" href="./css/styles.css")

  body
    block body

    script(type='text/javascript' src='./js/app.js')
