doctype html
html
  head
    block head
      title Moon Wallet
      meta(charset='UTF-8')
      meta(http-equiv='X-UA-Compatible', content='IE=edge')
      meta(name='description' content="MOON Wallet - easy to use & user-friendly crypto wallet")
      meta(name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=no')
      
      link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:300|Roboto+Mono|Roboto:300")
      link(rel="stylesheet" href="./css/styles.css")

  body
    block body

    script(type='text/javascript' src='./js/app.js')
