extends includes/tpl.pug
append head
  title Moon Wallet
block body
  .background
    .gradient
    .bgTransition
    .container
      
      .topbar.js-reveal-topbar
        .logo
          a(href="https://secrettech.io" target="_blank") >_ secret_tech
        .topbar-links
          a(href="https://t.me/MoonWallet")
            img(src="./images/telegram.svg")
            span Telegram
          a(href="https://github.com/secret-tech")
            img(src="./images/github.svg")
            span GitHub

      .landing.js-reveal-landing
        img(src="./images/logo.svg").logo
        .name MOON
        .description Easy to use & user-friendly cryptocurrecy wallet
        
      .buttons.js-reveal-buttons
        div
          a(href="https://app.moonwallet.tech/auth/sign-up").signUp Sign up for free
        div
          a(href="https://app.moonwallet.tech/auth/sign-in").signIn Sign in

      .screenshots.js-reveal-screenshots
        .screenshot
          img(src="./images/moon-collage.png")

      .benefits.js-reveal-benefits
        .thing
          .title Easy to use
          .text The main idea behind the Moon Wallet is to make Ethereum as simple as it can be. We just removed all complicated things, added nice and clean UI.
        .thing
          .title No need to download
          .text Moon Wallet has web version which can be accessed from any device with internet connection. No additional plugins required.
          a.link(href="https://app.moonwallet.tech/auth/sign-up") Launch
        .thing
          .title Open Source
          .text Our team loves open source and we have couple of open source projects we are actively developing. You can find the source code at our GitHub.
          a(href="https://github.com/secret-tech" target="_blank").link Our GitHub
        .thing
          .title Secure
          .text 2FA, user actions verification, notifications, special payment password and even HD wallet support - all is for security of your account and assets.

      .textBlocks.js-reveal-free
        img(src="./images/diamond.svg").baloonsImage
        .title Absolutely Free
        .thing Moon Wallet is currently absolutely free and we don't show you any ads. Why? Because we think that all available wallets were made for geeks by geeks. This time geeks(secrettech.io team) are creating something for people.

    .links
      .bgTransition2
      img(src="./images/github.svg").githubImage
      h3.title Let's make crypto-world better together!
      .text Everyone can contribute to MoonWallet development. You even don't need to have programming skills to participate. Find bugs, report them in our GitHub or Telegram chat and spread the word about project across the crypto community. Everyone's help is important!
      a(href="https://github.com/secret-tech/frontend-moon-wallet" target="_blank").link Frontend repo
      a(href="https://github.com/secret-tech/backend-token-wallets" target="_blank").link Backend repo
      a(href="https://t.me/MoonWallet" target="_blank").link Submit issue
      .bgTransition3

    .container
      .team
        .title.js-reveal-team-title The A* team
        .members
          a(href="https://github.com/kotokur" target="_blank").member.member.js-reveal-team-third
            .photo
              img(src="./images/team/11.jpg")
              img(src="./images/team/12.jpg").glasses
            .name Alexandr Isaev
            .job Frontend
          a(href="https://github.com/Amazing-Space-Invader" target="_blank").member.member.js-reveal-team-second
            .photo
              img(src="./images/team/21.jpg")
              img(src="./images/team/22.jpg").glasses
            .name Aidar Ibatullin
            .job Frontend
          a(href="https://github.com/hlogeon" target="_blank").member.js-reveal-team-first
            .photo
              img(src="./images/team/31.jpg")
              img(src="./images/team/32.jpg").glasses
            .name Andrey Degtyaruk
            .job CTO
          a(href="https://github.com/AlekNS" target="_blank").member.member.js-reveal-team-second
            .photo
              img(src="./images/team/41.jpg")
              img(src="./images/team/42.jpg").glasses
            .name Alexandr Sedelnikov
            .job Backend
          a(href="https://github.com/Aleserche" target="_blank").member.member.js-reveal-team-third
            .photo
              img(src="./images/team/51.jpg")
              img(src="./images/team/52.jpg").glasses
            .name Alexandr Shaikhanov
            .job Backend
            
      .contact.js-reveal-contacts
        .title Contact us
        a(href="https://t.me/MoonWallet").link Telegram group
        a(href="mailto:info@secrettech.io" target="_blank").link info@secrettech.io

      .donate.js-reveal-donate
        .title Like our job? Support us (ETH)
        .address 0x6B8a42a1fAEFedB0E2CF435ADB093F1736eD49cc

      a(href="https://secrettech.io").footer Created with ❤️ by secret_tech on 🌎 in 2018
