@import "./vendor/normalize.css";

* {
  font-family: Roboto;
  color: #111;
  -webkit-font-smoothing: antialiased;
}

a {
  color: #005BFF;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

html, body {
  height: 100%;
  background-color: #182026;
}

.background {
  background-image: url(../images/background.jpg);
  background-size: cover;
  min-height: 1000px;
  height: 100%;
  max-height: 1000px;
  width: 100%;
  position: relative;
}

@media only screen and (max-width: 768px) {
  .background {
    min-height: 600px;
    height: 100%;
    max-height: 850px;
  }
}

.background .gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -moz-linear-gradient(top, rgba(24,32,38,1) 0%, rgba(67,98,121,0) 43%, rgba(125,185,232,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(24,32,38,1) 0%,rgba(67,98,121,0) 43%,rgba(125,185,232,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(24,32,38,1) 0%,rgba(67,98,121,0) 43%,rgba(125,185,232,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#182026', endColorstr='#007db9e8',GradientType=0 ); /* IE6-9 */
}

.background .bgTransition {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: url('../images/bgTransition1.svg') no-repeat;
  background-size: cover;
  height: 200px;
}

.container {
  box-sizing: border-box;
  max-width: 1400px;
  margin: 0 auto;
  position: relative;
}

@media only screen and (max-width: 1400px) {
  .container {
    width: calc(100% - 40px);
  }
}


.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0;
}

@media only screen and (max-width: 768px) {
  .topbar {
    display: block;
  }
}

.topbar .logo > a {
  font-family: 'Roboto Mono', monospace;
  font-size: 18px;
  color: #fff;
  text-decoration: none;
}

@media only screen and (max-width: 768px) {
  .topbar .logo {
    text-align: center;
  }
}

.topbar-links {
  display: flex;
}

@media only screen and (max-width: 768px) {
  .topbar-links {
    display: none;
  }
}

.topbar-links a {
  font-size: 16px;
  color: #fff;
  display: flex;
  align-items: end;
  padding: 9px 20px 10px;
  border-radius: 2px;
}

.topbar-links a:hover {
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.1);
}

.topbar-links a img {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

.topbar-links a span {
  color: #fff;
}


.buttons {
  text-align: center;
}

.buttons a {
  display: inline-block;
  font-size: 16px;
  color: #fff;
  font-family: Roboto;
  font-weight: 100;
  text-decoration: none;
  margin: 0 10px;
  border-radius: 4px;
  transition: 0.1s linear all;
}

.buttons a.signUp {
  background-color: #48AFF0;
  font-size: 18px;
  padding: 12px 40px 13px;
  transition: 0.1s linear all;
}

.buttons a.signUp:hover {
  background-color: #2B95D6;
}

.buttons a.signIn {
  margin-top: 15px;
  text-decoration: underline;
}


.landing {
  padding: 150px 0 70px;
  text-align: center;
}

@media only screen and (max-width: 900px) {
  .landing {
    padding: 60px 0 20px;
  }
}

.landing .logo {
  height: 80px;
  width: 80px;
  margin: 0 auto 20px;
}

.landing .name {
  font-family: 'Raleway', sans-serif;
  font-size: 72px;
  font-weight: 100;
  color: #fff;
}

.landing .description {
  font-family: 'Roboto';
  font-size: 18px;
  line-height: 1.5;
  font-weight: 300;
  color: #fff;
  margin-top: 20px;
}

.landing .soon {
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 300;
  color: #fff;
  margin-top: 10px;
}


.screenshots {
  margin: 0 auto;
  overflow: hidden;
}

.screenshots .screenshot img {
  width: 100%;
}

@media only screen and (max-width: 900px) {
  .screenshots {
    display: none;
  }
}


.benefits {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 150px 0 50px;
}

@media only screen and (max-width: 900px) {
  .benefits {
    flex-direction: column;
    padding: 50px 0 20px;
  }
}

.benefits .thing {
  width: 350px;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .benefits .thing {
    width: auto;
    max-width: 500px;
    margin: 40px auto;
  }
}

.benefits .thing .title {
  font-family: 'Raleway';
  font-size: 24px;
  font-weight: 100;
  text-align: center;
  color: #fff;
  margin: 0 0 30px;
}

.benefits .thing .text {
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 300;
  text-align: center;
  color: #fff;
  padding: 0 30px;
  line-height: 1.8;
}

.benefits .thing .link {
  display: inline-block;
  margin-top: 20px;
  color: #48AFF0;
}

.benefits .thing .link.disabled {
  color: grey;
  cursor: not-allowed;
}


.textBlocks {
  max-width: 700px;
  padding: 50px 0 100px;
  margin: -20px auto;
  text-align: center;
}

.textBlocks .baloonsImage {
  width: 80px;
  height: 80px;
  margin: 0 auto 20px;
  display: block;
  opacity: .7;
}

.textBlocks .title {
  font-family: 'Raleway';
  font-size: 36px;
  font-weight: 100;
  color: #fff;
  text-align: center;
  margin-bottom: 20px;
}

.textBlocks .thing {
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 300;
  text-align: center;
  color: #fff;
  line-height: 1.8;
  padding: 20px 0;
}

.textBlocks .link {
  display: inline-block;
  margin-top: 20px;
  color: #48AFF0;
}


.links {
  background-image: url('../images/background2.jpg');
  background-size: cover;
  text-align: center;
}

.links .bgTransition2 {
  width: 100%;
  height: 200px;
  background: url('../images/bgTransition2.svg') no-repeat;
  background-size: cover;
  margin-bottom: 50px;
}

.links .bgTransition3 {
  width: 100%;
  height: 200px;
  background: url('../images/bgTransition3.svg') no-repeat;
  background-size: cover;
  margin-top: 50px;
}

@media only screen and (max-width: 900px) {
  .links .bgTransition2,
  .links .bgTransition3 {
    margin: 0;
  }
}

.links .githubImage {
  width: 60px;
  display: block;
  margin: 0 auto 50px;
}

.links h3.title {
  font-size: 24px;
  font-weight: 100;
  color: #fff;
  margin: 0;
}

.links .text {
  font-size: 18px;
  font-weight: 100;
  line-height: 1.5;
  color: #fff;
  max-width: 600px;
  margin: 20px auto 40px;
}

.links .link {
  font-size: 24px;
  color: #fff;
  display: inline-block;
  margin: 0 20px;
  text-decoration: underline;
}

@media only screen and (max-width: 768px) {
  .links h3.title {
    width: calc(100% - 40px);
    margin: 0 auto;
    line-height: 1.5;
  }

  .links {
    margin: -15px 0;
  }

  .links .text {
    width: calc(100% - 40px);
  }

  .links .link {
    display: block;
    margin: 15px 0;
  }
}

@media only screen and (max-width: 900px) {
  .links a {
    font-size: 24px;
    margin: 20px;
  }
}

.links .disabled {
  cursor: not-allowed;
  color: #fff;
}

.links .disabled:hover {
  cursor: not-allowed;
}


.team {
  padding: 100px 0;
}

@media only screen and (max-width: 900px) {
  .team {
    display: none;
  }
}

.team .title {
  font-family: 'Raleway';
  font-size: 36px;
  color: #fff;
  text-align: center;
}

.members {
  margin-top: 40px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.members .member {
  text-align: center;
  width: 250px;
  text-decoration: none;
}

.members .member:hover .photo {
  transform: scale(1.1);
}

.members .member:hover .photo .glasses {
  opacity: 1;
}

.members .member .photo {
  position: relative;
  width: 120px;
  height: 120px;
  margin: 0 auto;
  transition: 0.3s ease all;
}

.members .member .photo img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.members .member .photo img.glasses {
  position: absolute;
  opacity: 0;
  left: 0;
}

.members .member .name {
  color: #fff;
  font-size: 24px;
  font-family: 'Raleway';
  margin-top: 20px;
}

.members .member .job {
  color: #fff;
  font-size: 18px;
  margin-top: 10px;
}


.contact {
  padding: 50px 0;
  text-align: center;
  color: #fff;
}

.contact .title {
  font-family: 'Raleway';
  font-size: 36px;
  font-weight: 100;
  color: #fff;
  text-align: center;
  margin-bottom: 20px;
}

.contact .link {
  font-size: 18px;
  font-family: 'Roboto';
  font-weight: 300;
  color: #fff;
  text-align: center;
  display: inline-block;
  margin: 0 10px;
}

@media only screen and (max-width: 900px) {
  .contact .link {
    margin: 10px 0;
    display: block;
  }
}


.donate {
  padding: 50px 0;
  text-align: center;
  color: #fff;
}

.donate .title {
  font-family: 'Raleway';
  font-size: 18px;
  font-weight: 100;
  color: #fff;
  text-align: center;
  margin-bottom: 20px;
}

.donate .address {
  font-size: 36px;
  font-family: 'Raleway';
  font-weight: 300;
  color: #fff;
  text-align: center;
  display: inline-block;
  margin: 0 10px;
}

@media only screen and (max-width: 900px) {
  .donate .address {
    font-size: 24px;
    width: calc(100% - 20px);
    word-wrap: break-word;
  }
}


.footer {
  padding: 20px 0 35px;
  text-align: center;
  font-family: 'Roboto Mono';
  font-size: 14px;
  color: #fff;
  border-top: 1px solid #848484;
  display: block;
}

@media only screen and (max-width: 900px) {
  .footer {
    font-size: 18px;
    line-height: 1.5;
  }
}

.footer:hover {
  text-decoration: none;
}
